<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thank You - Issued Books</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <style>
        .container-center {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }
    </style>
</head>
<body>
    <div class="container container-center">
        <div class="jumbotron text-center">
            <h1 class="display-3">Thank You!</h1>
            <p class="lead"><strong>Your books have been successfully issued.</strong> You can download the list of issued books below.</p>
            <hr>
            <p>
                Having trouble? <a href="mailto:librarian@gmail.com" style="color: blue;">Contact us</a>
            </p>
            <p class="lead">
                <a class="btn btn-primary btn-sm" href="/books/{{ membership_id }}" role="button">Back to Books List</a>
                <form action="/books/download/{{ membership_id }}" method="POST">
                    <input type="hidden" name="issued_books" id="issuedBooksInput" value='{{ issued_books | tojson | safe }}'>
                    <button type="submit" class="btn btn-success btn-sm">Download Issued Books List</button>
                </form>
            </p>
            <!-- Form to send issued books data to download -->
            
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
